.header {
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    padding: 30px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-li {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
    margin-bottom: 0;
}

.main-li a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
}

.main-li .a {
    padding: 16px 16px;
    border-radius: 8px;
    background-color: #02457A;
    color: #FFFFFF;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    border: 1px solid #02457A;
    background-color: #02457A;
    color: #FFFFFF;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
}

.search-button:hover {
    background-color: #013663;
    border-color: #013663;
}