* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f1f7fe;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-group {
    margin-bottom: 10px;
}

.btn-group a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #3b82f6;
    border-radius: 6px;
}

.btn-group a:hover {
    background-color: #02457A;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-right: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3b82f6;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #02457A;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #3b82f6;
    color: #fff;
}

table tbody tr:hover {
    background-color: #f0f0f0;
}

.action-links a {
    display: inline-block;
    margin-right: 5px;
    color: #007bff;
    text-decoration: none;
}

.action-links a:hover {
    text-decoration: underline;
}